@import "tailwindcss";

@layer utilities {
    .bg-purple-gradient {
      background: linear-gradient(to right, #0d0124, #000127);
    }
}

@keyframes gradient-border {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-border {
  animation: gradient-border 3s ease infinite;
}
